
@{
    ViewData["Title"] = "Successfully";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <h1 class="bg-primary text-white">Successfully!</h1>
 <a asp-action="Index" asp-controller="Home" class="btn btn-primary">OK</a>

