
@{
    ViewData["Title"] = "Confirm";
}

<h2 class="bg-primary mb-1 p-2 text-white">Thank for shopping</h2>
<hr />
<a asp-controller="Home" asp-action="Index" class="btn btn-info">Back To Home</a>


